.left{
  width: 310px;
  height: 1105px;
  background: #e5c3c6;
  display:inline-block;
  float:left
}
.center{
  width: 305px;
  height: 1105px;
  background: #e5c3c6;
  display:inline-block;
  float:left
}
.right{
  width: 305px;
  height: 1105px;
  background: #e5c3c6;
  display:inline-block;
  float:left
}
/*.sm5right{
  width: 5px;
  height: 1105px;
  background: #f96161;
  display: inline-block;
  float:right
}*/
.sm5left{
  width: 5px;
  height: 1105px;
  background: #e5c3c6;
  display: inline-block;
  float:left
}
.smallImage{
  width: 300px;
  height: 80px;
  background: #e1e9b7;
  display: inline-block;
  /*float: left*/
}
.largeImage{
  width: 300px;
  height: 160px;
  background: #bcd2d0;
  display: inline-block;
  /*float: left*/
}
